$bg-color-primary: #ffff;
$bg-color-title: #4970b0;
$bg-color-dark:#071121;
$red:red;

//Colors Carrusel

$color-border-carrusel:#3d7eb9;



// Size
$movil-size:320px;
$tablet-size: 768px; // 480px;
$tablet-md-size: 768px;
$desktop-size: 1200px ;