
$color-blue:#4970b0;

$bg-color-primary: #ffff;
$bg-color-title: $color-blue;
$bg-color-dark:#071121;




//Colors Carrusel

$color-border-carrusel:#3d7eb9;
$color-indicator-carrusel:$color-blue;


// Size
$movil-size:320px;
$movil-xl-size:767px;
$tablet-size: 768px; // 480px;
$tablet-md-size: 768px;
$desktop-size: 1200px ;