@mixin animation-top-down ($time){
    animation: fadeInDown $time ease-out 1;
  }
  
  @keyframes fadeInDown {
    0% {
      transform: translateY(-500%);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
}

@mixin animation-down-top ($time){
  animation: fadeDownTop $time ease-out 1;
}

@keyframes fadeDownTop {
  0% {
    transform: translateY(500%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@mixin animation-left-right ($time){
  animation: fadeLeftRight $time ease 1;
}

@keyframes fadeLeftRight {
  0% {
    transform: translateX(-300%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@mixin animation-right-left ($time){
  animation: fadeRightLeft $time ease 1;
}

@keyframes fadeRightLeft {
  0% {
    transform: translateX(300%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


@mixin animation-small-big ($time){
  animation: SmallBig $time ease 1;
}

@keyframes SmallBig {
  0% {
    transform: scale(0.0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@mixin animation-zoom-screen ($time){
  opacity: 0;
  transform: scale(0.5);
  transition: $time ease-in-out transform, $time ease-in-out opacity;
}


.item-small-big {
  transform: scale(1) !important;
  opacity: 1 !important;
}
