@import './variables';
@import './buttons.scss';
@import './animation.scss';

.img-primary {
    border-radius: 20px;
    max-height: 255px;
    overflow: hidden;
    display: flex;
    border-radius: 50px;
background: #071121;
box-shadow:  13px 13px 26px #071121,
-13px -13px 26px #204260;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.img-secondary {
    border-radius: 20px;
    max-height: 193px;
    overflow: hidden;
    display: flex;
    margin: 3%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

@media (min-width: $tablet-size) {
    .img-primary {
        border-radius: 20px;
        max-height: 524px;
        overflow: hidden;
        
        img {
    
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
  }
  
  @media (min-width: $desktop-size) {
    .img-primary {
        border-radius: 20px;
        max-height: 524px;
        min-height: 524px;
        overflow: hidden;
        
        img {
    
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
  }
